body {
    margin: 0 auto;
    width: max-content;
}


.container {
    background-color: #5d6c89;
    margin: 0 auto;
    min-width: 1100px;
    color: white;
    display: block;
    
}

#top {
    margin: 0 auto;
    padding: 82px 0px 68px 50px;
}


img {
    border-radius: 50%;
    margin-left: 12px;
    height: 200px;
    justify-content: center;
}

.header {
    margin-bottom: 28px;
    padding: 2px 0px 1px 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-left: 3px solid yellow;
    border-left-width: 18px;
}

h1 {
    padding-bottom: 6px;
    letter-spacing: 2px;
}

.myInfo {
    padding: 8px 0px;
    letter-spacing: 3px;
    font-size: 17px;
}

.myInfo i {
    padding-right: 16px;
    font-size: 22px;
    line-height: 38px;
}

#middle {
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}

#middle h5 {
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#middle .mid {
    padding: 32px 0px 0px 42px;
}

#middle i {
    font-size: 18px;
    padding-right: 8px;
}

.leftSide {
    border-right: 2px solid yellow;
}

span i {
    padding: 0px 2px;
}








/* #yellow {
    background-color: #fad02c;

} */