body {
    margin: 0 auto;
    width: max-content;
}


.container {
    background-color: #5d6c89;
    margin: 0 auto;
    min-width: 1100px;
    color: white;
    display: block;
    
}

#top {
    margin: 0 auto;
    padding: 72px 0px 0px 78px;
}


img {
    border-radius: 50%;
    height: 200px;
    justify-content: center;
}

.header {
    margin-bottom: 28px;
    padding: 2px 0px 1px 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-left: 3px solid yellow;
    border-left-width: 18px;
}

h1 {
    padding-bottom: 6px;
    letter-spacing: 2px;
}

.myInfo {
    padding: 8px 0px;
    letter-spacing: 3px;
    font-size: 16px;
}

.myInfo i {
    padding-right: 16px;
    font-size: 18px;
    line-height: 38px;
}

#middle {
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    margin: 46px 22px 46px 22px;

}

#middle h5 {
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#middle .mid {
    padding: 32px 0px 2px 22px;
    
}

#middle i {
    font-size: 18px;
}

.leftSide {
    border-right: 2px solid yellow;
    padding-bottom: 22px;
}

.school ul {
    list-style-type: none;
}

.school li {
    padding-bottom: 10px;
    line-height: 22px;
}
.skills span i {
    font-size: 2px;
    text-align: left;
}

.skills ul {
    list-style: none;
    text-transform: uppercase;
}

.skills span {
    margin-left: 122px;
}

.certificates a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.certificates a:hover {
    color: yellow;
    
}

.certificates li {
    list-style-type: square;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}

.profile p {
    font-size: 16px;
    width: 518px;
    letter-spacing: 1px;
    line-height: 25px;
    padding-left: 26px;
}

.experience ul {
    font-size: 17px;
    list-style: none;
    padding: 3px 28px;
}

.experience li {
    line-height: 16px;
    padding-bottom: 8px;
}
.experience span {
    padding-left: 52px;
}


/* #yellow {
    background-color: #fad02c;

} */